<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
<!-- Site banner -->
<div class="jumbotron text-center">
<h1>Home Page</h1>
	<div class="navbar navbar-expand-sm bg-dark">
			<div class="navbar-header">
				<a class="navbar-brand text-light">CHEditor App</a>
			</div>
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link active text-info">Home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/cheditor/hierarchies}">Add/Delete Class</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/cheditor/edit}">Edit Class</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/cheditor/search}">Search Hierarchy</a></li>
				<!-- <li class="nav-itme"><a class="nav-link" th:href="@{/cheditor/login}">Login</a></li> -->
			</ul>
	</div>
</div>

<!-- TODO: ADD LINK TO LOGIN.HTML -->

<!-- Main information body -->
<div class="container justify-content-center">
	<h1>Weclome to CHEditor Home.</h1>
	<h1>Here you can create and edit class hierarchy structures.</h1>
</div>

</body>
</html>