<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<!-- jqTree -->
<script type="text/javascript" th:src="@{/jqtree/tree.jquery.js}"></script>
<link rel="stylesheet" th:href="@{/jqtree/jqtree.css}"/>

<!-- FontAwesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- Site Javascript and CSS -->
<script type="text/javascript" th:src="@{/js/search-hierarchies.js}" defer></script>
<link rel="stylesheet" th:href="@{/css/main.css}"


<meta charset="UTF-8">
<title>Search Hierarchy</title>
</head>
<body>
<div class="jumbotron text-center">
<h1>CHEditor Search</h1>
<div class="navbar navbar-expand-sm bg-dark">
			<div class="navbar-header">
				<a class="navbar-brand text-light" th:href="@{/}">CHEditor App</a>
			</div>
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/cheditor/}">Home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/cheditor/hierarchies}">Add/Delete Class</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/cheditor/edit}">Edit Class</a></li>
				<li class="nav-item"><a class="nav-link active text-info">Search Hierarchy</a></li>
				<!-- <li class="nav-itme"><a class="nav-link" th:href="@{/cheditor/login}">Login</a></li> -->
			</ul>
	</div>
</div>

<div class="container text-center justify-content-center">

<div class="col-sm-4">

</div>


 <!-- Accordian Group -->
<div id="accordion">
<!-- Card 1 -->
   <div class="card">
    <div class="card-header" id="instructionsHeading">
      <h5 class="mb-0">
        <button class="btn btn-link btn-round" data-toggle="collapse" data-target="#instructionsBody" aria-expanded="true" aria-controls="collapseOne">
          <i class="fa fa-info-circle fa-2x"></i>
        </button>
     </h5>
    </div>
	<!-- Body -->
    <div id="instructionsBody" class="collapse show" aria-labelledby="instructionsHeading" data-parent="#accordion">
      <div class="card-body">
      	<ul class="center-left" >
	      	<li>Here you can search classes by name or by id.</li>
			<li>Class information will be displayed below if valid name of id is submitted.</li>
			<li>Click on the ► symbol next to parent classes to expand tree hierarchy / view child classes.</li>
			<li>Click on the ▼ symbol next to parent classes to collapse tree hierarchy / hide child classes.</li>
		</ul>
      </div>
    </div>
  </div>
  
  <!-- Card 2 -->
  
  <div class="card">
    <div class="card-header" id="searchName">
      <h5 class="mb-0">
        <button onclick="setBtn('sub-one'); setIdSwitch('unchecked'); setMessageInfoId('messageInfo');" class="btn btn-link btn-round" data-toggle="collapse" data-target="#searchN" aria-expanded="false" aria-controls="collapseTwo">
          Search Class By Name
        </button>
     </h5>
    </div>
	<!-- Body -->
    <div  id="searchN" class="collapse" aria-labelledby="searchName" data-parent="#accordion" >
      <div class="card-body">
      <p id="messageInfo" class="bg-info"></p>
     <form id="form-name" class="form-group container col-sm-8" >
		<label>Class Name</label>
		<input onfocus="setInput('name'); setFormId('form-name');" id="name" type="text" class="form-control" name="name" placeholder="ClassName"></input>
	
	</form>
	<br>
	<button id="sub-one" class="btn btn-primary" onclick="getClassDetails();searchClass();"  value="Search Class">Search Class</button>
      	
      	
      </div>
    </div>
  </div>
  
  
   <!-- Card 3 -->
  
  <div class="card">
    <div class="card-header" id="searchById">
      <h5 class="mb-0">
        <button onclick="setBtn('sub-two'); setIdSwitch('checked'); setMessageInfoId('messageInfo-two');" class="btn btn-link btn-round" data-toggle="collapse" data-target="#searchId" aria-expanded="false" aria-controls="collapseThree">
          Search Class By Id
        </button>
     </h5>
    </div>
	<!-- Body -->
    <div id="searchId" class="collapse" aria-labelledby="searchById" data-parent="#accordion">
      <div class="card-body">
      <p id="messageInfo-two" class="bg-info"></p>
    <form id="form-cid" class="form-group container col-sm-8" >
		<label>Class Id</label>
		<input onfocus="setInput('cid'); setFormId('form-cid');" id="cid" type="text" class="form-control" name="cid" placeholder="123" value=""></input>
	</form>
	<br>
<button id="sub-two" class="btn btn-primary" onclick="getClassDetails(); searchClass();"  value="Search Class">Search Class</button>
      
      </div>
    </div>
  </div>
  
</div>
<!-- <p id="messageInfo-two" class="bg-info"></p> -->
<!-- Toggle Switch For Display Id -->
<br><hr>
<div class="custom-control custom-switch">
	<input type="checkbox" class="custom-control-input" id="cidSwitch" onclick="showCid();" checked>
	<label class="custom-control-label" for="cidSwitch">Display Class IDs</label>
</div>

<div id="tree" class="container d-flex col-sm-8 justify-content-center"></div>
<br>
<table id="classDetails" class="center-left table">
	<thead class="thead-dark">
		<tr>
			<th colspan="2">Class Details</th>
		</tr>
	</thead>
	<tr>
		<th>Name</th><td id="className"></td>
	</tr>
	<tr>
		<th>Id</th><td id="classId"></td>
	</tr>
	<tr>
		<th>Abstract</th><td id="abstract"></td>
	</tr>
	<tr>
		<th>Parent Id</th><td id="parentClassId"></td>
	</tr>
</table>

<br><br><br>

</div>

</body>

</html>