<!DOCTYPE html>
<html>
<head>
<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<!-- <script src="jquery.min.js"></script> -->
<script src="/tree.jquery.js"></script>
<link rel="stylesheet" href="/jqtree.css"/>
<meta charset="UTF-8">
<title>View Hierarchy</title>
</head>
<body>
<div class="jumbotron text-center">
<h1>View Hierarchy</h1>
</div>

<div class="container text-center col-sm-2">

<div id="tree"></div>


</div>

</body>
<script>
var url = "/cheditor/api/browse";
var response = "";
function getTree(){
	$('#tree').tree({
		data:response,
		autoOpen: true,
		dragAndDrop:true
	});
}

function getData(data) {
	console.log("called getData")
	var str = JSON.stringify(data);
	response = JSON.parse(str);
	console.log('Response'+response);
	getTree();
}

$(document).ready(function() {
	$.ajax({
		type:"GET",
		url:url,
		success:getData
		});
});


</script>
</html>