<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<!-- <script src="jquery.min.js"></script> -->
<script type="text/javascript" th:src="@{/jqtree/tree.jquery.js}"></script>
<link rel="stylesheet" th:href="@{/jqtree/jqtree.css}"/>

<meta charset="UTF-8">
<title>View Hierarchy</title>
</head>
<body>
<div class="jumbotron text-center">
<h1>View Hierarchy</h1>
</div>

<div class="container text-center col-sm-2">

<div id="tree"></div>


</div>

</body>
<script>
var url = "/cheditor/api/browse";
var response = "";
function getTree(){
	$('#tree').tree({
		data:response,
		autoOpen: true,
		dragAndDrop:true,
		saveState:true
	});
}

function getData(data) {
	console.log("called getData")
 	var str = JSON.stringify(data);
	console.log("JSON:"+str);
	response = parseFieldsToJQTree(str);

	console.log('Response'+response);
	getTree();
}

function parseFieldsToJQTree(data) {
	var d = data.replace(/cid/g,'id');
	d = d.replace(/superclassOf/g,'children');
	console.log("jqTreeJSON:"+d);
	d = JSON.parse(d);
	return d;
}

$(document).ready(function() {
	$.ajax({
		type:"GET",
		url:url,
		success:getData
		});
});


</script>
</html>