<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<!-- <script src="jquery.min.js"></script> -->
<script type="text/javascript" th:src="@{/jqtree/tree.jquery.js}"></script>
<link rel="stylesheet" th:href="@{/jqtree/jqtree.css}"/>

<meta charset="UTF-8">
<title>View Hierarchy</title>
</head>
<body>
<div class="jumbotron text-center">
<h1>CHEditor View</h1>
<div class="navbar navbar-expand-sm bg-dark">
			<div class="navbar-header">
				<a class="navbar-brand text-light" th:href="@{/}">CHEditor App</a>
			</div>
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
				<li class="nav-item"><a class="nav-link active text-info">View Hierarchy</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/}">Search Hierarchy</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/}">Search Hierarchy</a></li>
			</ul>
	</div>
</div>

<div class="container text-center justify-content-center">

<div id="tree" class="container d-flex col-sm-8 justify-content-center"></div>
<br><br><br>
<p id="message" class="bg-info" hidden="true">Added Succesfully</p>
<form id="classForm" class="container col-sm-8" method="GET" >
	<label>Class Name</label>
	<input onfocus="setInputURL('isValid/name/');" id="name" type="text" class="form-control" name="name" placeholder="ClassName"></input>
	<label>Class Id</label>
	<input onfocus="setInputURL('isValid/cid/');" id="cid" type="text" class="form-control" name="cid" placeholder="123"></input>
	<label>Parent Id</label>
	<input onfocus="setInputURL('isValid/pid/');" id="pid" type="text" class="form-control" name="pid" placeholder="ParentClass"></input>
	<label>Abstract</label>
	<input type="checkbox" class="form-control" name="abstract" value=true >
	
	<input id="submit" type="submit" class="btn btn-primary" onsubmit="addClass();" value="Add Class">
</form>

</div>

</body>
<script>
var inputFieldId = "name";
var formURL = "/cheditor/api/browse";
var inputURL = "";
var response = "";
function getTree(){
	$('#tree').tree({
		data:response,
		autoOpen: true,
		dragAndDrop:true,
		saveState:true
	});
}

function getResponse(data) {
	var str = JSON.stringify(data);
	res = JSON.parse(str);
	
}

function getData(data) {
	console.log("called getData")
 	var str = JSON.stringify(data);
	console.log("JSON:"+str);
	response = parseFieldsToJQTree(str);

	console.log('Response'+response);
	getTree();
}

function parseFieldsToJQTree(data) {
	var d = data.replace(/cid/g,'id');
	d = d.replace(/superclassOf/g,'children');
	console.log("jqTreeJSON:"+d);
	d = JSON.parse(d);
	return d;
}
function setFormURL() {
	

}
function setInputURL(url){
	inputURL = url;
	inputURL += $(inputFieldId).val();
}

/*Called by submit button
 * 
 * Posts Form */

function addClass() {
	var name = $('name').val();
	var cid = $('cid').val();
	var pid = $('pid').val();
	var ab = $('abstract').val();
	$.ajax({
		type:"GET",
		url: "/addclass?cid="+cid+"&name="+name+"&abstract="+ab+"pid="+pid,
		success: function(data) {
			var str = stringify(data);
			var res = JSON.parse(str);
			if (res.ret == true) {
				$('message').attr('hidden', 'false');
			}
			requestTreeData();
		}
	});
}

function requestTreeData() {
	$.ajax({
		type:"GET",
		url:formURL,
		success:getData
		});
}

$(document).ready(perform());

function validateForm () {
	$(':input').keyup(function() {
		$.ajax({
			type: "GET",
			url: inputURL,
			success: function (result) {
				var str = JSON.stringify(result);
				var res = JSON.parse(str);
				if (res.ret == false) {
					$('submit').attr("disabled", true);
					$('message').html(res.message);
					$('message').show();
				} else {
					$('submit').attr("disabled", false);
					$('message').html("");
					$('message').hide();
				}
			}
		});
	})
}


function perform() {
	validateForm();
	requestTreeData();
}




</script>
</html>